table {
	width: 100%;
}

td {
	border: 1px solid;
	overflow: hidden; /*
			The overflow property specifies what should happen if content overflows an element's box.
			This property specifies whether to clip content or to add scrollbars when an element's content is too big to fit in a specified area.	
	 */
	vertical-align: top;
}

h2{
	  text-align: center;
}